include ../moderator/all-films/all-films.pug

mixin minicard-film-archive(data, index)
    .minicard-film(data-popup="film" data-url="/_archive-film.html")
        .minicard-film__image
            .minicard-film__cover: +picture(data.image)
            .minicard-film__censor
                span(title="Возрастные ограничения 12+") 12+
            .minicard-film__rate
                span(style="background-color: "+data.colorRate+"")= data.rate
            .minicard-film__details
                ul
                    li
                        span Программа:
                        span Полный метр
                    li
                        span Страна:
                        span США
                    li
                        span Жанр:
                        span Боевик
                    li
                        span Рейтинг зрителей:
                        span 6.2

        .minicard-film__title= data.title
        .minicard-film__year=data.year
        .minicard-film__country
            .minicard-film__flags
                ul
                    li: +bgimage('/img/flags/ru.svg')
                    li: +bgimage('/img/flags/de.svg')
            .minicard-film__duration 85 мин

        if index == 2
            .minicard-film__award: +bgimage('/img/common/prize_img.png')


mixin page-archive
    .page-archive
        .page-archive__yaers
            .page-archive__yaers-prev: a(href='#'): +icons('#ic_season-back', 20)
            .page-archive__yaers-current 2022
            .page-archive__yaers-next: a(href='#'): +icons('#ic_season-next', 20)
        .page-archive__text
            h2 Программы фестиваля 2022:
            ul
                li – экспериментальное и дебютное российское кино;
                li – внеконкурсная программа;
                li – спецпоказы.

            h2 Номинации и победители:
            ul
              li – Grand-prix фестиваля PFF — картина «Призрачно-белый» режиссера Марии Игнатенко;
              li – Приз «За новизну оптики и поиск художественной формы» — фильм «Зачем снятся сны» режиссера Тихона Пендюрина;
              li – Специальный приз жюри «За искренность» — фильм «Тембот» режиссера Тины Мастафовой;
              li – Специальный приз от онлайн-кинотеатра START и журнала «Сеанс» — фильм «Второе солнце» режиссера Рината Ташимова.

        .page-archive__films
            .archive-films
                .archive-films__title Фильмы
                .archive-films__programs
                    .archive-films__program
                        .archive-films__subtitle экспериментальное и дебютное российское кино
                        .archive-films__label Жюри программы:
                        .archive-films__jury Алексей Герман, Александр Цыпкин, Надежда Михалкова, Василий Степанов, Алексаей Акимов
                        .archive-films__list
                            each item,index in moderator.films
                                if index < 5
                                    .archive-films__item: +minicard-film-archive(item, index)
                                    
                    .archive-films__program
                        .archive-films__subtitle Внеконкурсная программа
                        .archive-films__label Жюри программы:
                        .archive-films__jury Алексей Герман, Александр Цыпкин, Надежда Михалкова, Василий Степанов, Алексаей Акимов
                        .archive-films__list
                            each item,index in moderator.films
                                if index >= 5 && index < 10
                                    .archive-films__item: +minicard-film-archive(item, index)

mixin card-nomination(data)
    .card-nomination
        .card-nomination__image: +picture('/img/common/about-media-3')
        .card-nomination__main
            .card-nomination__text= data.text
            .card-nomination__film= data.film

 

mixin page-archive-2
    .page-archive
        .page-archive__yaers
            .page-archive__yaers-label год:
            .page-archive__yaers-list
                ul
                    li: a(href='#') 2022
                    li: a(href='#') 2021
                    li.active: a(href='#') 2020
                    li: a(href='#') 2019
                    li: a(href='#') 2018

        .page-archive__box
            .archive-box
                .archive-box__title Программы фестиваля
                .archive-box__list
                    ul
                        li: span – экспериментальное и дебютное российское кино;
                        li: span – внеконкурсная программа;
                        li: span – спецпоказы. 

        .page-archive__box
            .archive-box
                .archive-box__title Номинации и победители:
                .archive-box__list
                    .archive-box__items
                        each item in site.nomenation
                            .archive-box__item
                                +card-nomination(item) 
            

        .page-archive__films
            .archive-films
                .archive-films__title Фильмы по программам
                .archive-films__programs
                    .archive-films__program
                        .archive-films__subtitle экспериментальное и дебютное российское кино
                        .archive-films__label Жюри программы:
                        .archive-films__jury
                            each item in site.jury2
                                .archive-films__card: +card-jury(item)

                        .archive-films__label Фильмы:
                        .archive-films__list
                            each item,index in moderator.films
                                if index < 5
                                    .archive-films__item: +minicard-film-archive(item, index)
                                    
                    .archive-films__program
                        .archive-films__subtitle Внеконкурсная программа
                        .archive-films__label Фильмы:
                        
                        .archive-films__list
                            each item,index in moderator.films
                                if index >= 5 && index < 10
                                    .archive-films__item: +minicard-film-archive(item, index)